numpy==1.24.4
pyyaml
soundfile
librosa
pretty_midi

# MeloTTS install:
# pip install git+https://github.com/myshell-ai/MeloTTS.git
# python -m unidic download
praatio
openai
pyworld
scipy
einops
pyloudnorm
h5py
pycwt==0.3.0a22
matplotlib==3.7.5
